.bookingDetail {
        display: flex;
        width: 100%;
        .container {
          padding: 6px;
      
          .top {
            padding: 20px;
            display: flex;
            gap: 20px;
      
            .left {
              flex: 1;
              -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
              box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
              padding: 20px;
              border-radius: 10px;
      
              .title {
                font-size: 17px;
                font-weight: 600;
                color: #555;
                margin-bottom: 20px;
              }
      
              .item {
                display: flex;
                gap: 20px;
      
                .itemImg {
                  width: 100px;
                  height: 100px;
                  border-radius: 50%;
                  object-fit: cover;
                }
      
                .details {
                  .itemTitle {
                    margin-bottom: 10px;
                    color: #555;
                    font-size: 20px;
                  }
      
                  .detailItem {
                    margin-bottom: 10px;
                    font-size: 14px;
      
                    .itemKey {
                      font-weight: bold;
                      color: gray;
                      margin-right: 5px;
                    }
      
                    .itemValue {
                      font-weight: 300px;
                    }
                  }
                }
              }
      
              .booking {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-top: 10px;
      
                .bookingItem {
                  display: flex;
                  align-items: center;
                  border-radius: 10px;
                  transition: all 0.5s ease;
      
                  .itemKey {
                    font-weight: bold;
                    color: gray;
                    margin-right: 5px;
                  }
      
                  .itemValue {
                    font-weight: 300px;
                  }
                }
              }
            }
      
            .right {
              flex: 2;
      
              form {
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
                justify-content: space-around;
      
                .formInput {
                  width: 40%;
      
                  label {
                    display: flex;
                    align-items: center;
                    gap: 10px;
      
                    .icon {
                      cursor: pointer;
                    }
                  }
      
                  input {
                    width: 100%;
                    white-space: pre-line;
                    padding: 5px;
                    border: none;
                    border-bottom: 1px solid gray;
                    outline: none;
                  }
                }
                .selectStyle {
                  width: 70%;
                  padding: 10px;
                  border: none;
                  outline: none;
                }
      
                .spanStyle {
                  color: "black";
                  font-size: 20px;
                }
      
                .switchStyle {
                  display: flex;
                  gap: 10px;
                  align-self: center;
                }
      
                .buttonSave {
                  width: 150px;
                  height: 40px;
                  border: none;
                  background-color: #00a0d4;
                  color: #fff;
                  font-weight: bold;
                  cursor: pointer;
                  border-radius: 5px;
                  transition: all 0.3s ease;
      
                  &:hover {
                    scale: 1.05;
                  }
                }
                .buttonCancel {
                  width: 150px;
                  height: 40px;
                  border: none;
                  background-color: #ff0000;
                  color: #fff;
                  font-weight: bold;
                  cursor: pointer;
                  border-radius: 5px;
                  transition: all 0.3s ease;
      
                  &:hover {
                    scale: 1.05;
                  }
                }
              }
            }
          }
          .bottom {
            .listContainer {
              -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
              box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
              padding: 20px;
              margin: 20px;
      
              .listTitle {
                font-weight: 500;
                color: gray;
                margin-bottom: 15px;
              }
            }
          }
      
          .bottomAdmin,
          .bottomHotel {
            -webkit-box-shadow: 2px 4p 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 10px;
            margin: 20px;
            display: flex;
            justify-content: space-between;
      
            .left {
              flex: 1;
              position: relative;
      
              .progress {
                position: absolute;
                top: 30px;
                left: 2%;
                width: 96%;
                height: 100%;
                display: flex;
              }
      
              .container {
                text-align: center;
                margin-top: 20px;
                align-items: center;
                justify-content: center;
                display: flex;
      
                .avatarContainer {
                  width: 150px;
                  height: 150px;
                  border-radius: 50%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
      
                .imgAvatar {
                  width: 150px;
                  height: 150px;
                  border-radius: 50%;
                  object-fit: cover;
                  cursor: pointer;
                  transition: all 0.3s ease;
      
                  &:hover {
                    scale: 1.05;
                  }
                }
                .deleteAvatar {
                  position: absolute;
                  top: 40px;
                  right: 50px;
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  cursor: pointer;
                  transition: all 0.3s ease;
                  color: red;
      
                  &:hover {
                    scale: 1.05;
                  }
                }
      
                .listImageContainer {
                  width: 100%;
                  display: flex;
                  padding: 10px;
      
                  .content {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
      
                    .item {
                      position: relative;
                      width: 50px;
                      height: 50px;
      
                      .imgList {
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        cursor: pointer;
                        transition: all 0.3s ease;
      
                        &:hover {
                          scale: 1.05;
                        }
                      }
      
                      .divDelete {
                        position: relative;
                        top: -66px;
                        left: 40px;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        color: red;
      
                        &:hover {
                          scale: 1.05;
                        }
                      }
                    }
                    .bgAdd {
                      width: 50px;
                      height: 50px;
                      border: 1px dashed gray;
                      display: flex;
                      justify-content: center;
                      align-items: center;
      
                      .iconAdd {
                        font-size: 40px;
                        color: gray;
                        cursor: pointer;
                        transition: all 0.3s ease;
      
                        &:hover {
                          scale: 1.05;
                        }
                      }
                    }
                  }
                }
              }
            }
      
            .right {
              flex: 3;
      
              form {
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
                justify-content: space-around;
                margin-top: 20px;
      
                .formInput {
                  width: 40%;
      
                  label {
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 10px;
      
                    .icon {
                      cursor: pointer;
                    }
                  }
      
                  input {
                    width: 100%;
                    padding: 5px;
                    border: none;
                    border-bottom: 1px solid gray;
                    outline: none;
                  }
                }
      
                .Divbutton {
                  width: 150px;
                  padding: 10px;
                  border: none;
                  text-align: center;
                  background-color: teal;
                  color: #fff;
                  font-weight: bold;
                  cursor: pointer;
                  border-radius: 5px;
                  transition: all 0.3s ease;
      
                  &:hover {
                    scale: 1.05;
                  }
                }
              }
            }
          }
      
          .bottomHotel {
            -webkit-box-shadow: 2px 4p 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 10px;
            margin: 20px;
            display: flex;
            justify-content: space-between;
      
            &.title {
              align-items: center;
            }
      
            h1 {
              color: gray;
              font-size: 20px;
            }
      
            span {
              font-size: 20px;
              font-weight: normal;
              color: gray;
            }
      
            .infoExcel {
              display: flex;
              align-items: center;
              gap: 10px;
            }
      
            .uploadExcel {
              padding: 10px;
              font-size: 15px;
              border: none;
              background-color: teal;
              color: #fff;
              font-weight: bold;
              cursor: pointer;
              border-radius: 5px;
              transition: all 0.3s ease;
      
              &:hover {
                scale: 1.05;
              }
            }
      
            .left {
              flex: 1;
      
              .container {
                text-align: center;
                margin-top: 20px;
      
                .avatarContainer {
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
      
                .imgAvatar {
                  width: 150px;
                  height: 150px;
                  border-radius: 50%;
                  object-fit: cover;
                  cursor: pointer;
                  transition: all 0.3s ease;
      
                  &:hover {
                    scale: 1.05;
                  }
                }
      
                .listImageContainer {
                  width: 100%;
                  display: flex;
                  padding: 10px;
      
                  .content {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
      
                    .item {
                      position: relative;
                      width: 50px;
                      height: 50px;
      
                      .imgList {
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        cursor: pointer;
                        transition: all 0.3s ease;
      
                        &:hover {
                          scale: 1.05;
                        }
                      }
      
                      .divDelete {
                        position: relative;
                        top: -66px;
                        left: 40px;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        color: red;
      
                        &:hover {
                          scale: 1.05;
                        }
                      }
                    }
                    .bgAdd {
                      width: 50px;
                      height: 50px;
                      border: 1px dashed gray;
                      display: flex;
                      justify-content: center;
                      align-items: center;
      
                      .iconAdd {
                        font-size: 40px;
                        color: gray;
                        cursor: pointer;
                        transition: all 0.3s ease;
      
                        &:hover {
                          scale: 1.05;
                        }
                      }
                    }
                  }
                }
              }
            }
      
            .right {
              flex: 3;
      
              form {
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
                justify-content: space-around;
                margin-top: 20px;
      
                .formInput {
                  width: 40%;
      
                  label {
                    display: flex;
                    align-items: center;
                    gap: 10px;
      
                    .icon {
                      cursor: pointer;
                    }
                  }
      
                  input {
                    width: 100%;
                    padding: 5px;
                    border: none;
                    border-bottom: 1px solid gray;
                    outline: none;
                  }
                }
      
                .Divbutton {
                  width: 150px;
                  padding: 10px;
                  border: none;
                  text-align: center;
                  background-color: teal;
                  color: #fff;
                  font-weight: bold;
                  cursor: pointer;
                  border-radius: 5px;
                  transition: all 0.3s ease;
      
                  &:hover {
                    scale: 1.05;
                  }
                }
              }
            }
      
            .middle {
              width: 100%;
              height: 100%;
              display: flex;
              position: fixed;
              top: 0;
              left: 0;
              justify-content: center;
              background-color: rgba(0, 0, 0, 0.5);
      
              .containerMiddle {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 20px;
      
                .iconCancel {
                  position: absolute;
                  top: 20px;
                  right: 20px;
                  font-size: 50px;
                  color: #fff;
                  cursor: pointer;
                  transition: all 0.3s ease;
      
                  &:hover {
                    scale: 1.05;
                  }
                }
      
                .imgMiddle {
                  height: 85%;
                  object-fit: contain;
      
                  @media screen and (max-width: 1600px) {
                    height: 80%;
                  }
      
                  @media screen and (max-width: 1000px) {
                    height: 70%;
                  }
      
                  @media screen and (max-width: 800px) {
                    height: 60%;
                  }
      
                  @media screen and (max-width: 600px) {
                    height: 50%;
                  }
      
                  @media screen and (max-width: 500px) {
                    height: 40%;
                  }
                }
      
                .listImgMiddle {
                  width: 70%;
                  height: 50px;
                  display: flex;
                  gap: 10px;
                  align-items: center;
                  justify-content: center;
      
                  .imgListMiddle {
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    border-radius: 5px;
      
                    &.notActive {
                      opacity: 0.5;
                    }
      
                    &.active {
                      scale: 1.05;
                    }
      
                    &:hover {
                      scale: 1.05;
                      opacity: 1;
                    }
                  }
                }
              }
            }
          }
        }
      
        .skeletonText {
          width: 200px;
          height: 20px;
          background-color: #e0e0e0;
      
          &.dif {
            margin-top: 10px;
          }
        }
      
        .skeletonInput {
          width: 100%;
          height: 30px;
          background-color: #e0e0e0;
        }
      }
      