.revenue {
  display: flex;
  width: 100%;

  .container {
    flex: 6;
    padding: 20px;

    .overview {
      .overview__title {
        margin-bottom: 20px;
        display: flex;
        position: relative;

        p {
          font-size: 24px;
          color: gray;
          flex: 1;
        }

        .overview__title--header--date {
          display: flex;
          align-items: center;

          p {
            font-size: 12px;
            margin-right: 10px;
          }

          .overview__title__date {
            display: flex;
            align-items: center;
            width: 280px;
            padding: 5px 10px;
            border-radius: 5px;
            background-color: #f1f1f1;
            border: 1px solid #f1f1f1;
            justify-content: space-between;

            &.active {
              border: 1px solid #f58634;
            }

            &:hover {
              cursor: pointer;
              border: 1px solid #f58634;
            }

            .overview__title__date--type {
              font-size: 12px;
              color: gray;
            }

            .overview__title__date--time {
              font-size: 14px;
            }

            .icon {
              margin-left: 10px;
              font-size: 18px;
            }
          }
        }
        .date-picker {
          display: none;
          position: absolute;
          top: 40px;
          right: 0;
          z-index: 100;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

          &.active {
            display: block;
            animation: fade-in 0.3s ease-in-out;

            @keyframes fade-in {
              0% {
                opacity: 0;
              }
              100% {
                opacity: 1;
              }
            }
          }

          .date-picker__header {
            display: flex;
            align-items: center;
            padding: 5px 10px;
            font-size: 13px;

            .date-picker__header--title {
              font-size: 13px;
              margin-right: 20px;
              margin-left: 20px;

              &:hover {
                cursor: pointer;
              }

              &.active {
                color: #f58634;
              }
            }
          }

          .date-picker__content {
            display: flex;
            justify-content: space-around;
          }
        }
      }

      .overview__content {
        width: 90%;
        margin: 0 auto;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 20px;

        .overview__content--header {
          display: flex;
          flex: 1;
          justify-content: space-between;

          .overview__content--header--title {
            font-size: 16px;
            font-weight: bold;
          }
        }

        .overview__content--chart {
          flex: 1;
          height: 350px;
          align-items: center;
          justify-content: center;
          display: flex;
          margin-top: 30px;

          .custom-tooltip {
            background: rgba(255, 0, 0, 0.1);
            padding: 10px;
            stroke: #fff;
            stroke-width: 1;
            border-radius: 10px;

            .label {
              font-size: 15px;
              color: #8884d8;
            }

            .intro {
              font-size: 15px;
              color: #000;
            }
          }
        }
      }
    }

    .quarter {
      .quarter__content {
        width: 90%;
        margin: 0 auto;
        margin-top: 50px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 20px;

        .quarter__content--header {
          display: flex;
          flex: 1;
          justify-content: space-between;
          position: relative;

          .quarter__content--header--title {
            font-size: 16px;
            font-weight: bold;
          }

          .dropdown {
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
              cursor: pointer;
            }

            p {
              font-size: 14px;
              color: blue;
              font-weight: bold;
            }

            .icon {
              font-size: 20px;
              color: blue;
            }
          }

          .dropdown__content {
            display: none;
            position: absolute;
            top: 30px;
            right: 0;
            z-index: 100;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

            &.active {
              display: block;
              animation: fade-in 0.3s ease-in-out;

              @keyframes fade-in {
                0% {
                  opacity: 0;
                }
                100% {
                  opacity: 1;
                }
              }
            }

            .dropdown__content--item {
              padding: 5px 10px;
              font-size: 13px;
              border-bottom: 1px solid #e2e0e0;

              &:hover {
                cursor: pointer;
                background-color: #f1f1f1;
              }
            }
          }
        }

        .quarter__content--container {
          flex: 1;
          display: flex;
          margin-top: 30px;
          height: 700px;
          flex-direction: column;

          .loadingQ {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
          }

          .tab {
            margin: 0 auto;
            width: 90%;

            .yearTab {
              display: flex;
              flex-direction: row;

              .yearTab--item {
                padding: 16px 12px 16px 24px;
                width: 230px;
                border-radius: 5px;
                margin-right: 20px;
                border: 1px solid #f1f1f1;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

                .yearTab--item--header {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  .yearTab--item--title {
                    font-size: 16px;
                    color: gray;
                  }
                }

                .yearTab--item--content {
                  margin-top: 5px;
                  font-size: 18px;
                }
              }
            }
          }

          .chartQuarter {
            flex: 1;
            display: flex;
            margin-top: 50px;
            align-items: center;
            height: 350px;

            .custom-tooltip {
              background: rgba(255, 0, 0, 0.1);
              padding: 10px;
              stroke: #fff;
              stroke-width: 1;
              border-radius: 10px;
  
              .label {
                font-size: 15px;
                color: #8884d8;
              }
  
              .intro {
                font-size: 15px;
                color: #000;
              }
            }
          }
        }
      }
    }
  }
}
