.chart {
    flex: 4;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    color: gray;

    .title {
        margin-bottom: 20px;
    }

    .chartGrid {
        stroke: rgb(228,225,225);
    }

    .custom-tooltip {
        background: white;
        padding: 5px;
        stroke: #fff;
        stroke-width: 1;
        border-radius: 10px;

        .label {
            font-size: 15px;
            color: #8884d8;
        }

        .intro {
            font-size: 15px;
            color: #000;
        }
    }
}