.table {
  .cellWrapper {
    display: flex;
    align-items: center;

    .cellImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
    }
  }

  .status {
    padding: 5px;
    border-radius: 5px;

    &.Approved {
      background-color: rgba(0, 128, 0, 0.151);
      color: green;
    }
    &.Pending {
      background-color: rgba(255, 165, 0, 0.151);
      color: orange;
    }
    &.Cancelled {
      background-color: rgba(255, 0, 0, 0.151);
      color: red;
    }
  }

  .empty {
    display: flex;
    height: 50px;

    .emptyText {
      position: absolute;
      font-size: 14px;
      color: #555;
      margin-top: 15px;
      left: 53%;
    }
  }
}
.loading-table {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  .loading-spinner-table {
    width: 25px;
    height: 25px;
    border: 4px solid #ccc;
    border-radius: 50%;
    border-top-color: #007bff;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
